* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background-color: #26A69A;
    color: #fff;
    padding: 10px;
    margin: 40px 10px 10px 10px;
}
